body {
  font-family: cursive;
}

tr.table_row {
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  background-color: white;
  padding: 20px 0px;
}

th {
  padding: 20px;
}

thead {
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  /* color: rgb(244, 225, 228); */
}

.table_row td {
  padding: 20px 0px;
  /* font-family: 'Courier New', Courier, monospace; */
}

.mainbar {
  font-family: cursive !important;
}

.menu_details {
  background-color: white;
  width: 29.3%;
  margin-left: 40px;
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  margin-bottom: 20px;
}

hr {
  border: none;
  border-top: 1px dotted black;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 290px;
  margin-left: 80px;
}

/* ----------- CART ------------ */
.cart {
  font-size: 13px;
  background-color: red;
  width: 20px;
  border-radius: 50%;
  margin-top: -20px;
  text-align: center;
  padding: 0px;
}

.logoutbtn {
  font-size: 50px !important;
  color: white !important;
  padding-bottom: -30px !important;
}

.cartcontainer {
  margin-top: 30px;
}

.shadow {
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  padding: 40px;
  position: fixed;
  right: 135px;
  top: 255px;
  border-radius: 20px;
}

.button_group {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

a {
  text-decoration: none !important;
}

@media (min-width: 1536px) {
  .css-3byqoo-MuiContainer-root {
    max-width: 0px;
  }
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

legend {
  float: unset;
}

header.MuiPaper-root {
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.MuiTouchRipple-root {
  position: static !important;
}

.MuiTouchRipple-root,
.MuiTouchRipple-root:hover,
.MuiTouchRipple-root:focus,
.MuiTouchRipple-root:focus-visible,
.MuiTouchRipple-root:focus-within,
.MuiTouchRipple-root:active {
  z-index: -2 !important;
  background-color: transparent !important;
}

.card1 .MuiButtonBase-root {
  background-color: transparent !important;
}

.root_div {
  filter: blur(0.1px);
  opacity: 0.1;
}

.main_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  width: 69.3%;
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  margin-left: 290px;
  font-size: 20px;
  border-radius: 20px;
}

.iframes {
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
}

.MuiOutlinedInput-input {
  padding: 18.5px 88px !important;
}

.makeStyles-paper-14 {
  padding: 16px;
  background-color: transparent;
}

.profile {
  color: white;
  text-align: left;
  padding-left: 14px;
}

.profile_pic {
  height: 30px;
  width: 35px;
  border-radius: 50%;
}

.round_image1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#select-image {
  visibility: hidden;
}

.MuiInputBase-input:invalid {
  padding-left: 15px !important;
}

.button {
  border: 0px;
  padding: 14px 3px !important;
  font-size: 4rem;
  font-family: monospace;
  box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
  transition: all 0.25s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%) !important;
  font-size: 20px;
}
.button:hover {
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  transform: scale(1.03);
}

.button:active {
  transform: scale(0.98);
}

.css-9nssrh-MuiButtonBase-root-MuiButton-root {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 22px !important;
}

.css-9xusax-MuiButtonBase-root-MuiButton-root {
  margin: 0 !important;
}

.css-9nssrh-MuiButtonBase-root-MuiButton-root {
  padding: 0px 8px !important;
}
.MuiBox-root.css-0 {
  margin-top: 0 !important;
}

.css-9xusax-MuiButtonBase-root-MuiButton-root {
  padding: 0 8px !important;
}

.MuiOutlinedInput-input {
  padding: 18.5px 18px !important;
}

.makeStyles-paper-14 {
  padding: 30px 16px !important;
}

.makeStyles-paperContainer-3 {
  padding-top: 0 !important;
}

#form_inside_sec {
  width: 100%;
}

.MuiGrid-container {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.MuiGrid-root.MuiGrid-item {
  width: 400px;
}

main.MuiContainer-root.MuiContainer-maxWidthXs {
  width: 100%;
}

.makeStyles-cards-13 {
  border-radius: 20px;
}

.MuiPaper-rounded {
  border-radius: 20px;
}

.MuiGrid-root.MuiGrid-item {
  width: 700px;
}

.css-cxf3h2 {
  margin-right: -375px;
}

.home_img {
  height: 780px;
  width: 700px;
  margin-left: -1220px;
  margin-top: -1px;
}

header.MuiPaper-root {
  position: sticky;
  top: 0px;
  width: 100%;
}

.home_text1 {
  font-family: cursive;
  color: rgb(59, 59, 59);
  font-weight: bolder;
  font-size: 20px;
  margin-left: 530px;
  margin-top: -400px;
  text-align: left;
}

.home_text2 {
  font-family: cursive;
  color: rgb(59, 59, 59);
  font-weight: bolder;
  font-size: 50px;
  margin-left: -250px;
}

.MuiGrid-root.MuiGrid-item {
  width: 560px;
}

.makeStyles-paper1-10 {
  border-radius: 20px;
}

header.MuiPaper-root {
  position: sticky;
  top: 0px;
  width: 100%;
}

.email_nav {
  width: 700;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.google1 {
  height: 400px;
  width: 50%;
  border-radius: 20px 0px 0px 20px;
}

.backtomenubtn {
  margin-bottom: 50px;
  background-color: #6439ff;
  font-weight: bold;
  position: absolute;
  /* left: 183px; */
  border-radius: 10px;
  font-family: cursive;
}

.remove_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  margin-bottom: 10px;
}

.remove_btn {
  color: #6439ff;
  font-family: cursive;
}

.plus_btn {
  background-color: #6439ff;
  color: white;
  border-radius: 10px 0px 0px 10px;
  font-family: cursive;
}

.product_qty_btn {
  color: #6439ff;
  font-weight: bold;
}

.minus_btn {
  background-color: #6439ff;
  color: white;
  border-radius: 0px 10px 10px 0px;
  font-family: cursive;
}

.buy_btn {
  background-color: #6439ff;
  border-radius: 10px;
  font-family: cursive;
}
