body {
  font-family: cursive;
}

tr.table_row {
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  background-color: white;
  padding: 20px 0px;
}

th {
  padding: 20px;
}

thead {
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
}

.table_row td {
  padding: 20px 0px;
}

.mainbar {
  font-family: cursive !important;
}

.menu_details {
  background-color: white;
  width: 29.3%;
  margin-left: 40px;
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  margin-bottom: 20px;
}

.menu_flex {
  text-align: left;
  padding: 20px 30px;
  margin-left: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.menu_flex p {
  display: inline-block !important;
  width: 102px !important;
}

hr {
  border: none;
  border-top: 1px dotted black;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 290px;
  margin-left: 80px;
}

.menu h1 {
  width: 100%;
}

.order_detail {
  color: #6439ff;
  text-align: left;
  padding: 0px 40px;
  color: #6439ff;
  margin-left: 35px;
  padding-top: 50px;
  font-weight: bold;
}

.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_shadow {
  width: 27.2%;
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  margin: 20px 83px;
  padding: 10px 0;
  margin-top: 50px;
  padding-bottom: 50px;
  border-radius: 30px;
}

/* ----------- CART ------------ */
.cart {
  font-size: 13px;
  background-color: red;
  width: 20px;
  border-radius: 50%;
  margin-top: -20px;
  text-align: center;
  padding: 0px;
}

.logoutbtn {
  font-size: 50px !important;
  color: white !important;
  padding-bottom: -30px !important;
}
/* .cart_items {
  font-size: 0.5em !important;
  color: white !important;
  background-color: red !important;
  padding: 4px 6px !important;
  border-radius: 50% !important;
  margin-top: -20px !important;
  transform: translate(100px, -300px) !important;
  vertical-align: top !important;
  font-family: cursive !important;
  visibility: visible;
} */

.para {
}

.cartcontainer {
  margin-top: 30px;
}

.shadow {
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  padding: 40px;
  position: fixed;
  right: 135px;
  top: 255px;
  border-radius: 20px;
}

.button_group {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

a {
  text-decoration: none !important;
}

@media (min-width: 1536px) {
  .css-3byqoo-MuiContainer-root {
    max-width: 0px;
  }
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

legend {
  float: unset;
}

header.MuiPaper-root {
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.shade {
}

.MuiTouchRipple-root {
  position: static !important;
}

.MuiTouchRipple-root,
.MuiTouchRipple-root:hover,
.MuiTouchRipple-root:focus,
.MuiTouchRipple-root:focus-visible,
.MuiTouchRipple-root:focus-within,
.MuiTouchRipple-root:active {
  z-index: -2 !important;
  background-color: transparent !important;
}

.card1 .MuiButtonBase-root {
  background-color: transparent !important;
}

.root_div {
  filter: blur(0.1px);
  opacity: 0.1;
}

.main_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  width: 69.3%;
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
  margin-left: 290px;
  font-size: 20px;
  border-radius: 20px;
}

.iframes {
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
}

.MuiOutlinedInput-input {
  padding: 18.5px 88px !important;
}

.makeStyles-paper-14 {
  padding: 16px;
  background-color: transparent;
}

.profile {
  color: white;
  text-align: left;
  padding-left: 14px;
}

.profile_pic {
  height: 30px;
  width: 35px;
  border-radius: 50%;
}

.round_image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.loaded_img_sec {
  width: 100px;
  height: 100px;
  margin: auto;
}

.round_image1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#select-image {
  visibility: hidden;
}

.MuiInputBase-input:invalid {
  padding-left: 15px !important;
}

.button {
  border: 0px;
  padding: 14px 3px !important;
  font-size: 4rem;
  font-family: monospace;
  box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
  transition: all 0.25s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%) !important;
  font-size: 20px;
}
.button:hover {
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  transform: scale(1.03);
}

.button:active {
  transform: scale(0.98);
}

.css-9nssrh-MuiButtonBase-root-MuiButton-root {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 22px !important;
}

.css-9xusax-MuiButtonBase-root-MuiButton-root {
  margin: 0 !important;
}

.css-9nssrh-MuiButtonBase-root-MuiButton-root {
  padding: 0px 8px !important;
}
.MuiBox-root.css-0 {
  margin-top: 0 !important;
}

.css-9xusax-MuiButtonBase-root-MuiButton-root {
  padding: 0 8px !important;
}

.MuiOutlinedInput-input {
  padding: 18.5px 18px !important;
}

.makeStyles-paper-14 {
  padding: 30px 16px !important;
}

.makeStyles-paperContainer-3 {
  padding-top: 0 !important;
}

#form_inside_sec {
  width: 100%;
}

.MuiGrid-container {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.MuiGrid-root.MuiGrid-item {
  width: 400px;
}

main.MuiContainer-root.MuiContainer-maxWidthXs {
  width: 100%;
}

.makeStyles-cards-13 {
  border-radius: 20px;
}

.MuiPaper-rounded {
  border-radius: 20px;
}

.MuiGrid-root.MuiGrid-item {
  width: 700px;
}

.css-cxf3h2 {
  margin-right: -375px;
}

.login_new {
  width: auto;
  height: 870px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 245, 238);
  margin-right: -107px;
}

.home_img {
  height: 780px;
  width: 700px;
  margin-left: -1220px;
  margin-top: -1px;
}

header.MuiPaper-root {
  position: sticky;
  top: 0px;
  width: 100%;
}

.home_text1 {
  font-family: cursive;
  color: rgb(59, 59, 59);
  font-weight: bolder;
  font-size: 20px;
  margin-left: 530px;
  margin-top: -400px;
  text-align: left;
}

.home_text2 {
  font-family: cursive;
  color: rgb(59, 59, 59);
  font-weight: bolder;
  font-size: 50px;
  margin-left: -250px;
}

.plate_img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: -218px;
  height: 100%;
  width: 100%;
}

.plate_img1 {
  display: inline;
}

.register_text {
  margin: -800px 0px;
  margin-left: 100px;
}

.MuiGrid-root.MuiGrid-item {
  width: 560px;
}

.special {
  height: 100px;
  width: 150px;
  border-radius: 50%;
  height: 150px;
  width: 160px;
}

.special_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: 100px;
}

.makeStyles-paper1-10 {
  border-radius: 20px;
}

header.MuiPaper-root {
  position: sticky;
  top: 0px;
  width: 100%;
}

.email_nav {
  width: 700;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.google1 {
  height: 400px;
  width: 50%;
  border-radius: 20px 0px 0px 20px;
}

.contain1 {
}

.backtomenubtn {
  margin-bottom: 50px;
  background-color: #6439ff;
  font-weight: bold;
  position: absolute;
  /* left: 183px; */
  border-radius: 10px;
  font-family: cursive;
}

.card {
}

.cart_menu_img {
}

.cart_para {
}

.cart_para_label {
}

.remove_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  margin-bottom: 10px;
}

.remove_btn {
  color: #6439ff;
  font-family: cursive;
}

.plus_btn {
  background-color: #6439ff;
  color: white;
  border-radius: 10px 0px 0px 10px;
  font-family: cursive;
}

.product_qty_btn {
  color: #6439ff;
  font-weight: bold;
}

.minus_btn {
  background-color: #6439ff;
  color: white;
  border-radius: 0px 10px 10px 0px;
  font-family: cursive;
}

.buynow_div {
}

.buy_btn {
  background-color: #6439ff;
  border-radius: 10px;
  font-family: cursive;
}

.orderid_p {
  text-align: left;
  margin-left: 80px;
  margin-top: 30px;
}

.orderid_mark {
  background-color: #b7a8f0;
  border-radius: 10px;
}

.noitems_para {
  text-align: left;
  margin-left: 80px;
}

.qty_h6 {
  font-size: 12px;
  display: inline-block;
  margin-left: 20px;
}

.price_para {
  margin-left: 96px;
}

.deli_fees_para {
  width: 100px;
}

.del_fee {
  margin-left: 96px;
}

.gst_p {
  margin-left: 96px;
}

.cgst_p {
  margin-left: 96px;
}

.total_p {
  width: 100px;
}

.amount_p {
  margin-left: 96px;
}

.item_price {
  margin-left: -39px;
}

.register_div {
  background-color: #f6f6fdfa;
}

.sideimg {
  height: 1090px;
  width: 520px;
  object-fit: fill;
}

.special_menu_div {
  border-radius: 10px;
  width: 600px;
  margin-top: 220px;
}

.special_menu_sub_div {
  font-size: 40px;
  font-family: cursive;
}

.special_typo {
  font-size: 40px !important;
  font-family: cursive;
  color: #6439ff;
}

.menu_typo {
  font-family: cursive !important;
  color: #6439ff;
}

.reg_form_div {
  margin-bottom: 80px;
  margin-left: 100px;
  border-radius: 20px;
}

.profile_pic_div {
  margin-top: -45px;
  margin-left: 75px;
}

.img_read {
  display: none;
  visibility: none;
}

.login_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 245, 238);
}

.login_logo {
  height: 980px;
  width: 650px;
  background-color: rgb(255, 245, 238);
}

.login_logo_div {
  margin-left: -45px;
  margin-top: -100px;
}

.login_img {
  height: 550px;
  width: 600px;
  border-radius: 20px;
  box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
}
